<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shuhao.main.dao.SealMapper">
  <resultMap id="BaseResultMap" type="com.shuhao.main.vo.Seal">
    <id column="seal_id" jdbcType="INTEGER" property="sealId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="seal_url" jdbcType="VARCHAR" property="sealUrl" />
    <result column="seal_name" jdbcType="VARCHAR" property="sealName" />
    <result column="seal_num" jdbcType="VARCHAR" property="sealNum" />
    <result column="create_timestamp" jdbcType="TIMESTAMP" property="createTimestamp" />
    <result column="State" jdbcType="VARCHAR" property="state" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    seal_id, user_id, seal_url, seal_name, seal_num, create_timestamp, State
  </sql>
  <select id="selectByExample" parameterType="com.shuhao.main.vo.SealExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from seal
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from seal
    where seal_id = #{sealId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from seal
    where seal_id = #{sealId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.shuhao.main.vo.SealExample">
    delete from seal
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.shuhao.main.vo.Seal">
    insert into seal (seal_id, user_id, seal_url, 
      seal_name, seal_num, create_timestamp, 
      State)
    values (#{sealId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{sealUrl,jdbcType=VARCHAR}, 
      #{sealName,jdbcType=VARCHAR}, #{sealNum,jdbcType=VARCHAR}, #{createTimestamp,jdbcType=TIMESTAMP}, 
      #{state,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.shuhao.main.vo.Seal">
    insert into seal
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sealId != null">
        seal_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="sealUrl != null">
        seal_url,
      </if>
      <if test="sealName != null">
        seal_name,
      </if>
      <if test="sealNum != null">
        seal_num,
      </if>
      <if test="createTimestamp != null">
        create_timestamp,
      </if>
      <if test="state != null">
        State,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sealId != null">
        #{sealId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="sealUrl != null">
        #{sealUrl,jdbcType=VARCHAR},
      </if>
      <if test="sealName != null">
        #{sealName,jdbcType=VARCHAR},
      </if>
      <if test="sealNum != null">
        #{sealNum,jdbcType=VARCHAR},
      </if>
      <if test="createTimestamp != null">
        #{createTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null">
        #{state,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.shuhao.main.vo.SealExample" resultType="java.lang.Long">
    select count(*) from seal
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update seal
    <set>
      <if test="record.sealId != null">
        seal_id = #{record.sealId,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.sealUrl != null">
        seal_url = #{record.sealUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.sealName != null">
        seal_name = #{record.sealName,jdbcType=VARCHAR},
      </if>
      <if test="record.sealNum != null">
        seal_num = #{record.sealNum,jdbcType=VARCHAR},
      </if>
      <if test="record.createTimestamp != null">
        create_timestamp = #{record.createTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="record.state != null">
        State = #{record.state,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update seal
    set seal_id = #{record.sealId,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      seal_url = #{record.sealUrl,jdbcType=VARCHAR},
      seal_name = #{record.sealName,jdbcType=VARCHAR},
      seal_num = #{record.sealNum,jdbcType=VARCHAR},
      create_timestamp = #{record.createTimestamp,jdbcType=TIMESTAMP},
      State = #{record.state,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.shuhao.main.vo.Seal">
    update seal
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="sealUrl != null">
        seal_url = #{sealUrl,jdbcType=VARCHAR},
      </if>
      <if test="sealName != null">
        seal_name = #{sealName,jdbcType=VARCHAR},
      </if>
      <if test="sealNum != null">
        seal_num = #{sealNum,jdbcType=VARCHAR},
      </if>
      <if test="createTimestamp != null">
        create_timestamp = #{createTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null">
        State = #{state,jdbcType=VARCHAR},
      </if>
    </set>
    where seal_id = #{sealId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shuhao.main.vo.Seal">
    update seal
    set user_id = #{userId,jdbcType=INTEGER},
      seal_url = #{sealUrl,jdbcType=VARCHAR},
      seal_name = #{sealName,jdbcType=VARCHAR},
      seal_num = #{sealNum,jdbcType=VARCHAR},
      create_timestamp = #{createTimestamp,jdbcType=TIMESTAMP},
      State = #{state,jdbcType=VARCHAR}
    where seal_id = #{sealId,jdbcType=INTEGER}
  </update>
</mapper>